.cadastro-container {
  width: 100% !important;
  height: 100vh !important;
  margin: 0 auto !important;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.cadastro-container .content {
  width: 100% !important;
  padding: 50px !important;
  background: #f0f0f5 !important;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;

  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.cadastro-container .content section {
  width: 100% !important;
  max-width: 500px !important;
}

.cadastro-container .content section h1 {
  margin: 64px 0 32px !important;
  font-size: 32px !important;
}

.cadastro-container .content section p {
  color: #737380 !important;
  font-size: 18px !important;
  line-height: 32px !important;
}

.cadastro-container .content form {
  width: 100% !important;
  max-width: 700px !important;
}

.cadastro-container .content form .input-group {
  display: flex !important;
}

.cadastro-container .content form .input-group input + input {
  margin-left: 8px !important;
}

.cadastro-container .content form .input-radio {
  margin: 0.4rem !important;
}

.cadastro-container .content form .input-radio-group {
  margin: 15px !important;
}

#tipoAssociado {
  margin-top: 5px;
}

#cidade {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
